* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ced1cb;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}

header h1{
  text-align: center;
  font-size: 35px;
  font-style: bold, italic;
  color: #000;
  margin: 7px;
}

header nav li a{
padding: 0px;
overflow: hidden;
display: block;
float: left;
text-align: center;
margin: 10px;

}
header nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.page{
display: flex;
justify-content: flex-start; 
flex-wrap: wrap;
margin: 30px;
width: 85%;
}

.sections-layout{
 
width: 85%;
border: 2px solid;
border-radius: 8px;
}

.section-lay-small{
width: 85%;
border: 2px solid;
border-radius: 8px;
}

.pic{
  object-fit: scale-down; 
  width: 120px;
  height: 80px;
  border: 5px;
}












